{% extends "base.html" %}
{% load static %}

{% block 'content' %}


    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Main Slider -->
        <div class="rev-slider">
			<div id="rev_slider_265_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container errow-style-1" data-alias="" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
			<!-- START REVOLUTION SLIDER 5.4.6.3 fullwidth mode -->
			<div id="rev_slider_265_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
				<ul>  
					<!-- SLIDE  -->
					<li data-index="rs-100" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{% static 'images/main-slider/slide1.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="{% static 'images/main-slider/slide1.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
						
						<!-- LAYER NR. 2 -->
						<div class="tp-caption d-lg-block d-none tp-resizeme" 
							id="slide-100-layer-1" 
							data-x="380" 
							data-y="200" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="text" 
							data-responsive_offset="on" 
							data-frames='[{"delay":"+1990","speed":2000,"frame":"0","from":"opacity:0;","color":"#e5452b","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","color":"transparent","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index:	6; white-space: nowrap; font-size: 20px; line-height: 62px; font-weight: 700; color: #000; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">	
								#1 best agency Theme 
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-resizeme d-lg-block d-none text-primary" 
							id="slide-100-layer-2" 
							data-x="380" 
							data-y="260" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="text" 
							data-responsive_offset="on" 
							data-frames='[{"delay":"+500","split":"chars","splitdelay":0.05000000000000000277555756156289135105907917022705078125,"speed":2000,"split_direction":"forward","frame":"0","from":"opacity:0;","color":"#000000","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":2000,"frame":"999","color":"transparent","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[30,30,30,30]"
							style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 80px; font-weight: 600; letter-spacing: 0px; text-transform:uppercase; font-family:Montserrat;">
								Hire Services <br/>for your Company 
						</div>
						<div class="tp-caption tp-shape d-lg-block d-none tp-shapewrapper bg-primary tp-resizeme" 
							id="slide-100-layer-5" 
							data-x="380" 
							data-y="279" 
							data-width="10"
							data-height="123"
							data-whitespace="nowrap"
							data-type="shape" 
							data-responsive_offset="on" 
							data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 15;border-color:rgba(0, 0, 0, 0.50);border-width:0px;"> </div>
						<!-- LAYER NR. 6 -->
						<div class="tp-caption tp-resizeme d-lg-block d-none" 
							id="slide-100-layer-3" 
							data-x="380" 
							data-y="450" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="button" 
							data-actions=''
							data-responsive_offset="on" 
							data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0]"
							data-paddingright="[0]"
							data-paddingbottom="[0]"
							data-paddingleft="[0]"
							style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 30px; font-weight: 600; font-family:Montserrat;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">	<a href="#" class="site-button button-md">Get A Qutoe</a>
						</div>
						<div class="tp-caption tp-resizeme d-lg-block d-none" 
							id="slide-100-layer-4" 
							data-x="570" 
							data-y="448" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="button" 
							data-actions=''
							data-responsive_offset="on" 
							data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0]"
							data-paddingright="[0]"
							data-paddingbottom="[0]"
							data-paddingleft="[0]"
							style="z-index: 11; white-space: nowrap; font-size: 16px; line-height: 30px; font-weight: 600; font-family:Montserrat;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">	<a href="#" class="site-button button-md outline outline-2">Talk To US</a>
						</div>
					</li>
					<li data-index="rs-200" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{% static 'images/main-slider/slide3.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="{% static 'images/main-slider/slide3.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
						
						<!-- LAYER NR. 2 -->
						<!-- LAYER NR. 2 -->
						<div class="tp-caption   tp-resizeme d-lg-block d-none" 
							id="slide-200-layer-1" 
							data-x="380" 
							data-y="200" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="text" 
							data-responsive_offset="on" 
							data-frames='[{"delay":"+1990","speed":2000,"frame":"0","from":"opacity:0;","color":"#e5452b","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","color":"transparent","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 62px; font-weight: 700; color: #000; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
								#1 best agency Theme 
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-resizeme text-primary d-lg-block d-none" 
							id="slide-200-layer-2" 
							data-x="380" 
							data-y="260" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="text" 
							data-responsive_offset="on" 
							data-frames='[{"delay":"+500","split":"chars","splitdelay":0.05000000000000000277555756156289135105907917022705078125,"speed":2000,"split_direction":"forward","frame":"0","from":"opacity:0;","color":"#000000","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":2000,"frame":"999","color":"transparent","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[30,30,30,30]"
							style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 80px; font-weight: 600; letter-spacing: 0px; text-transform:uppercase; font-family:Montserrat;">
								Hire Services <br/>for your Company 
						</div>
						<div class="tp-caption tp-shape tp-shapewrapper bg-primary tp-resizeme d-lg-block d-none" 
							id="slide-200-layer-5" 
							data-x="380" 
							data-y="279" 
							data-width="10"
							data-height="123"
							data-whitespace="nowrap"
							data-type="shape" 
							data-responsive_offset="on" 
							data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 15; border-color:rgba(0, 0, 0, 0.50);border-width:0px;"> </div>
						<!-- LAYER NR. 6 -->
						<div class="tp-caption tp-resizeme d-lg-block d-none" 
							id="slide-200-layer-3" 
							data-x="380" 
							data-y="450" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="button" 
							data-actions=''
							data-responsive_offset="on" 
							data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0]"
							data-paddingright="[0]"
							data-paddingbottom="[0]"
							data-paddingleft="[0]"
							style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 30px; font-weight: 600; font-family:Montserrat;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">	<a href="#" class="site-button button-md">Get A Qutoe</a>
						</div>
						<div class="tp-caption tp-resizeme d-lg-block d-none" 
							id="slide-200-layer-4" 
							data-x="570" 
							data-y="448" 
							data-width="['auto']"
							data-height="['auto']"
							data-type="button" 
							data-actions=''
							data-responsive_offset="on" 
							data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0]"
							data-paddingright="[0]"
							data-paddingbottom="[0]"
							data-paddingleft="[0]"
							style="z-index: 11; white-space: nowrap; font-size: 16px; line-height: 30px; font-weight: 600; font-family:Montserrat;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">	<a href="#" class="site-button button-md outline outline-2">Talk To US</a>
						</div>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
			</div>  
		</div>  
        <!-- Main Slider -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Our Awesome Services -->
            <div class="section-full overlay-primary-dark p-tb30 bg-img-fix" style="background-image:url({% static 'images/background/bg1.jpg' %}); ">
				<div class="container">
					<div class="d-lg-flex d-md-flex">
						<div class="flex-grow-1  align-self-center">
							<h2 class="text-white m-tb0">Now! Get a Free Consultation for Your Business</h2>
						</div>
						<div class="p-tb10">
							<a class="site-button white outline outline-2 radius-xl">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
           <!-- Our Awesome Services End -->
			<div class="section-full bg-img-fix" style="background-image:url({% static 'images/background/bg6.jpg' %});">
				<div class="content-inner-1">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-12 text-center section-head">
								<h2 class="fw7 max-w700 m-auto">Invest in Our Company and have Healthy Profits for Long Term</h2>
								<p class="m-b0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-lg-4 col-sm-6 m-b30">
								<div class="icon-bx-wraper center">
									<div class="icon-bx-lg radius bg-blue-light m-b20"> <a href="#" class="icon-cell"><i class="flaticon-analysis text-primary"></i></a> </div>
									<div class="icon-content">
										<h5 class="tilte">Best way to Digitize <br/> your Business</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-4 col-sm-6 m-b30">
								<div class="icon-bx-wraper center">
									<div class="icon-bx-lg radius bg-blue-light m-b20"> <a href="#" class="icon-cell"><i class="flaticon-management text-primary"></i></a> </div>
									<div class="icon-content">
										<h5 class="tilte">Linking People Through <br/> Integrated Technology</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-4 col-sm-12 m-b30">
								<div class="icon-bx-wraper center">
									<div class="icon-bx-lg radius bg-blue-light m-b20"> <a href="#" class="icon-cell"><i class="flaticon-computer text-primary"></i></a> </div>
									<div class="icon-content">
										<h5 class="tilte">The only way to <br/> grow your business</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="content-inner-3">
					<div class="container">
						<div class="section-content">
							<div class="row section-head">
								<div class="col-md-5 col-lg-5">
									<h2 class="fw7 m-b15">Why choose us consulting your business</h2>
								</div>
								<div class="col-md-7 col-lg-7">
									<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
								</div>
							</div>
							<!-- blog post Carousel with no margin -->
							<div class="section-content box-sort-in m-b30 button-example">
								<div class="blog-carousel mfp-gallery owl-loaded owl-theme owl-carousel gallery owl-btn-center-lr owl-btn-2 primary">
									<div class="item">
										<div class="box">
											<div class="media img-overlay2"> <a href="#"><img src="{% static 'images/blog/grid/pic1.jpg' %}" alt=""></a> </div>
											<div class="info p-a30 border-1 bg-white text-center">
												<h4 class="title m-t0"><a href="#">Pro Marketing</a></h4>
												<p class="m-b15">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
												<a href="#" class="site-button-link border-link">Read More</a> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="box">
											<div class="media img-overlay2"> <a href="#"><img src="{% static 'images/blog/grid/pic2.jpg' %}" alt=""></a> </div>
											<div class="info p-a30 border-1 bg-white text-center">
												<h4 class="title m-t0"><a href="#">Business Growth</a></h4>
												<p class="m-b15">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
												<a href="#" class="site-button-link border-link">Read More</a> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="box">
											<div class="media img-overlay2"> <a href="#"><img src="{% static 'images/blog/grid/pic3.jpg' %}" alt=""></a> </div>
											<div class="info p-a30 border-1 bg-white text-center">
												<h4 class="title m-t0"><a href="#">Startup Boost</a></h4>
												<p class="m-b15">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
												<a href="#" class="site-button-link border-link">Read More</a> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="box">
											<div class="media img-overlay2"> <a href="#"><img src="{% static 'images/blog/grid/pic1.jpg' %}" alt=""></a> </div>
											<div class="info p-a30 border-1 bg-white text-center">
												<h4 class="title m-t0"><a href="#">Pro Marketing</a></h4>
												<p class="m-b15">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
												<a href="#" class="site-button-link border-link">Read More</a> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="box">
											<div class="media img-overlay2"> <a href="#"><img src="{% static 'images/blog/grid/pic2.jpg' %}" alt=""></a> </div>
											<div class="info p-a30 border-1 bg-white text-center">
												<h4 class="title m-t0"><a href="#">Business Growth</a></h4>
												<p class="m-b15">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
												<a href="#" class="site-button-link border-link">Read More</a> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="box">
											<div class="media img-overlay2"> <a href="#"><img src="{% static 'images/blog/grid/pic3.jpg' %}" alt=""></a> </div>
											<div class="info p-a30 border-1 bg-white text-center">
												<h4 class="title m-t0"><a href="#">Startup Boost</a></h4>
												<p class="m-b15">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
												<a href="#" class="site-button-link border-link">Read More</a> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="section-full content-inner bg-img-fix overlay-primary-middle tax-info-chart" style="background-image:url({% static 'images/background/bg1.jpg' %});">
				<div class="container">
					<div class="row ">
						<div class="col-lg-12 text-white text-center section-head">
							<h2 class="m-b0 text-white">What we offer</h2>
							<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="box-bg m-b30 box-hover" style="background-image: url({% static 'images/our-work/pic1.jpg' %})">
								<div class="icon-bx-wraper center p-lr20 p-tb30">
									<div class="text-primary m-b30"> 
										<span class="icon-cell icon-xl"><i class="flaticon-computer"></i></span> 
									</div>
									<div class="icon-content">
										<h5 class="tilte">Business</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and type setting industry.Lorem Ipsum is simply dummy text.</p>
									</div>
									<a href="#" class="site-button-link border-link">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="box-bg m-b30 box-hover" style="background-image: url({% static 'images/our-work/pic2.jpg' %})">
								<div class="icon-bx-wraper center p-lr20 p-tb30">
									<div class="text-primary m-b30"> 
										<span class="icon-cell icon-xl"><i class="flaticon-support"></i></span> 
									</div>
									<div class="icon-content">
										<h5 class="tilte">Consulting</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and type setting industry.Lorem Ipsum is simply dummy text.</p>
									</div>
									<a href="#" class="site-button-link border-link">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="box-bg m-b30 box-hover active" style="background-image: url({% static 'images/our-work/pic3.jpg' %})">
								<div class="icon-bx-wraper center p-lr20 p-tb30">
									<div class="text-primary m-b30"> 
										<span class="icon-cell icon-xl"><i class="flaticon-process"></i></span> 
									</div>
									<div class="icon-content">
										<h5 class="tilte">Finance</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and type setting industry.Lorem Ipsum is simply dummy text.</p>
									</div>
									<a href="#" class="site-button-link border-link">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="box-bg m-b30 box-hover" style="background-image: url({% static 'images/our-work/pic4.jpg' %})">
								<div class="icon-bx-wraper center p-lr20 p-tb30">
									<div class="text-primary m-b30"> 
										<span class="icon-cell icon-xl"><i class="flaticon-development"></i></span> 
									</div>
									<div class="icon-content">
										<h5 class="tilte">Growth</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and type setting industry.Lorem Ipsum is simply dummy text.</p>
									</div>
									<a href="#" class="site-button-link border-link">Read More</a>
								</div>
								<div class="icon-box-btn text-center">
									
								</div>
							</div>
						</div>
					</div>
			   </div>
			</div>
			<div class="section-full content-inner bg-img-fix mission-value" style="background-image:url({% static 'images/background/bg7.jpg' %});">
				<div class="container">
                    <div class="row">
						<div class="col-lg-3 col-md-4 m-b30">
							<div class="sticky-top">
								<h3>Our Mission</h3>
								<ul class="list-check primary">
									<li>Amet Sollicitudin Quam Dolor Mollis</li>
									<li>Diipiscing Vestibulum Nullam Venenatis</li>
									<li>Diipiscing Vestibulum</li>
									<li>Vehicula Vulputate Ligula Mollis</li>
								</ul>
							</div>
						</div>		
						<div class="col-lg-9 col-md-8 m-b30">
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.2s">
										<img src="{% static 'images/about/about1.jpg' %}" class="radius-sm" alt="">
								</div>		
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.4s">
										<img src="{% static 'images/about/about2.jpg' %}" class="radius-sm" alt="">
								</div>		
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<ul class="list-check primary">
										<li>Amet Sollicitudin Quam Dolor Mollis</li>
										<li>Diipiscing Vestibulum Nullam Venenatis</li>
										<li>Diipiscing Vestibulum</li>
										<li>Vehicula Vulputate Ligula Mollis</li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6">
									<ul class="list-check primary">
										<li>Amet Sollicitudin Quam Dolor Mollis</li>
										<li>Diipiscing Vestibulum Nullam</li>
										<li>Diipiscing Vestibulum Nullam Venenatis</li>
										<li>Vehicula Vulputate</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-4 m-b30">
							<div class="sticky-top">
								<h3>Core Values</h3>
								<ul class="list-check primary">
									<li>Amet Sollicitudin Quam Dolor Mollis</li>
									<li>Diipiscing Vestibulum Nullam</li>
									<li>Diipiscing Vestibulum Nullam Venenatis</li>
									<li>Vehicula Vulputate</li>
								</ul>
							</div>
						</div>		
						<div class="col-lg-9 col-md-8 m-b30">
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
							<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s" >
									<div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-b1 bg-white">
										<h2 class="counter font-45">768</h2>
										<div class="icon-content">
											<h5 class="tilte fw5">Day Of Experience</h5>
											<p class="m-b0 font-14">Take a trivial example, which seds ever undertakes laborious.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
									<div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-b1 bg-white">
										<h2 class="counter font-45">128</h2>
										<div class="icon-content">
											<h5 class="tilte fw5">Awards Winning</h5>
											<p class="m-b0 font-14">Take a trivial example, which seds ever undertakes laborious.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.6s">
									<div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-b1 bg-white">
										<h2 class="counter font-45">654</h2>
										<div class="icon-content">
											<h5 class="tilte fw5">Happy Clients</h5>
											<p class="m-b0 font-14">Take a trivial example, which seds ever undertakes laborious.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row sp15">
								<div class="col-lg-6 col-md-6 col-sm-6 col-6"><img src="{% static 'images/about/services-1.jpg' %}" class="m-b15" alt=""></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-6"><img src="{% static 'images/about/services-2.jpg' %}" class="m-b15" alt=""></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-6"><img src="{% static 'images/about/services-3.jpg' %}" class="m-b15" alt=""></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-6"><img src="{% static 'images/about/services.jpg' %}" class="m-b30" alt=""></div>
							</div>
							<p class="m-b0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
						</div>
					</div>
				</div>
			</div>	
			<div class="section-full content-inner-2 bg-gray bg-img-fix overlay-primary-middle" style="background-image:url({% static 'images/background/bg1.jpg' %})">
                <div class="container">
					 <div class="row">
						<div class="col-md-12 text-center section-head text-white" >
							<h2 class="fw7 text-white m-b0">Our Testimonial</h2>
							<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="testimonial-center owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-dots-white-full btn-white owl-loaded owl-drag">
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic1.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic2.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic3.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic1.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic2.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic3.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic1.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic2.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-2">
										<div class="testimonial-pic radius style1"><img src="{% static 'images/testimonials/pic3.jpg' %}" alt="" width="100" height="100"></div>
										<div class="testimonial-text">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
			<!-- About Quotes -->
			<div class="section-full content-inner bg-img-fix" style="background-image:url({% static 'images/background/bg8.jpg' %});">
				<div class="container">
					 <div class="row">
						<div class="col-md-12 text-center section-head">
							<h2 class="fw7 m-b0">Our Blog</h2>
							<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-btn-center-lr owl-btn-1">
								<div class="item">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="{% static 'images/blog/grid/pic1.jpg' %}" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-a20 border-1">
											<div class="post-title ">
												
												<h4 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h4>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks predefined chunks...</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>				
								</div>
								<div class="item">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="{% static 'images/blog/grid/pic2.jpg' %}" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-a20 border-1">
											<div class="post-title ">
												
												<h4 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h4>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks predefined chunks...</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>					
								</div>
								<div class="item">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="{% static 'images/blog/grid/pic3.jpg' %}" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-a20 border-1">
											<div class="post-title ">
												
												<h4 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h4>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks predefined chunks...</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>				
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About Quotes End -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
</div>

	 


{% endblock 'content' %}

