
{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<!-- <div class="page-wraper">
<div id="loading-area"></div>  -->
	
	<!-- Content -->
	{% for obj1 in objects1 %}
	   {% if obj1.is_active %}
    <div class="page-content bg-white">
		<!-- inner page banner -->
		
        <div class="bnr-inr bg-pt" style="background-image:url({{obj1.top_bg_image.url}});">
            <div class="container">
                <div class="bnr-inr-entry">
                    <h1>{{obj1.top_heading}}</h1>
					<!-- Breadcrumb row --> 
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="{% url 'Home:pic' %}">Home</a></li>
							<li>{{obj1.top_heading}}</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
		</div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			
				<!-- About Us -->
				<div class="section-full content-inner">
					<div class="container">
						<div class="row ">
							<div class="col-lg-12 text-center section-head">
								<h2 class="m-b0">{{obj1.sec1_title}}</h2>
								<p class="m-b0">{{obj1.sec1_desc|safe}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="box-bg m-b30 box-hover" style="background-image: url({{obj1.sec1_inner1_image.url}})">
									<div class="icon-bx-wraper center p-lr20 p-tb30">
										<div class="text-primary m-b30"> 
											<span class="icon-cell icon-xl"><i class="flaticon-{{obj1.sec1_inner1_icon_choice}}"></i></span> 
										</div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec1_inner1_title}}</h5>
											<p>{{obj1.sec1_inner1_desc|safe}}</p>
										</div>
										<a href="{% url 'about_page:about_detail1' %}" class="site-button-link border-link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="box-bg m-b30 box-hover" style="background-image: url({{obj1.sec1_inner2_image.url}})">
									<div class="icon-bx-wraper center p-lr20 p-tb30">
										<div class="text-primary m-b30"> 
											<span class="icon-cell icon-xl"><i class="flaticon-{{obj1.sec1_inner2_icon_choice}}"></i></span> 
										</div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec1_inner2_title}}</h5>
											<p>{{obj1.sec1_inner2_desc|safe}}</p>
										</div>
										<a href="{% url 'about_page:about_detail2' %}" class="site-button-link border-link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="box-bg m-b30 box-hover" style="background-image: url({{obj1.sec1_inner3_image.url}})">
									<div class="icon-bx-wraper center p-lr20 p-tb30">
										<div class="text-primary m-b30"> 
											<span class="icon-cell icon-xl"><i class="flaticon-{{obj1.sec1_inner3_icon_choice}}"></i></span> 
										</div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec1_inner3_title}}</h5>
											<p>{{obj1.sec1_inner3_desc|safe}}</p>
										</div>
										<a href="{% url 'about_page:about_detail3' %}" class="site-button-link border-link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="box-bg m-b30 box-hover" style="background-image: url({{obj1.sec1_inner4_image.url}})">
									<div class="icon-bx-wraper center p-lr20 p-tb30">
										<div class="text-primary m-b30"> 
											<span class="icon-cell icon-xl"><i class="flaticon-{{obj1.sec1_inner4_icon_choice}}"></i></span> 
										</div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec1_inner4_title}}</h5>
											<p>{{obj1.sec1_inner4_desc|safe}}</p>
										</div>
										<a href="{% url 'about_page:about_detail4' %}" class="site-button-link border-link">Read More</a>
									</div>
								</div>
							</div>
						</div>
				   </div>
				</div>

            <!-- About Us End -->
			<!-- Our Awesome Services -->
            <div class="section-full bg-blue-light content-inner">
				<div class="container">
					<div class="section-content">
						<div class="row section-head">
							<div class="col-md-5 col-lg-5">
								<h2 class="fw7 m-b0">{{obj1.sec2_title}}</h2>
							</div>
							<div class="col-md-7 col-lg-7">
								<p class="m-b0">{{obj1.sec2_desc|safe}}</p>
							</div>
						</div>
						<!-- blog post Carousel with no margin -->
						<div class="section-content box-sort-in m-b30 button-example">
							<div class="blog-carousel mfp-gallery owl-loaded owl-theme owl-carousel gallery owl-btn-center-lr owl-btn-2 primary">
								{% for obj2 in objects2 %}
								<div class="item">
									<div class="box">
										<div class="media img-overlay2"> <a href="#"><img src="{{obj2.sec2_inner_image.url}}" alt=""></a> </div>
										<div class="info p-a30 border-1 bg-white text-center">
											<h4 class="title m-t0"><a href="{% url 'about_page:about_carousel_detail' obj2.pk %}">{{obj2.sec2_inner_title}}</a></h4>
											<p class="m-b15">{{obj2.sec2_inner_desc|safe}}</p>
											<a href="{% url 'about_page:about_carousel_detail' obj2.pk %}" class="site-button-link border-link">Read More</a> 
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
                    </div>
                </div>
			</div>
			<!-- Our Awesome Services End -->
			<div class="section-full content-inner bg-primary bg-img-fix overlay-primary-dark" style="background-image:url({{obj1.sec3_bg_image.url}});">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center section-head">
							<h4 class="text-white max-w700 m-auto fw7">
							{{obj1.sec3_heading}}			
							</h4>
						</div>
					</div>
                    <div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-w1" >
								<h2 class="counter font-45 text-white">{{obj1.sec3_inner1_value}}</h2>
								<div class="icon-content">
									<h5 class="tilte text-white fw5">{{obj1.sec3_inner1_title}}</h5>
									<p class="m-b0 font-14">{{obj1.sec3_inner1_desc|safe}}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-w1" >
								<h2 class="counter font-45 text-white">{{obj1.sec3_inner2_value}}</h2>
								<div class="icon-content">
									<h5 class="tilte text-white fw5">{{obj1.sec3_inner2_title}}</h5>
									<p class="m-b0 font-14">{{obj1.sec3_inner2_desc|safe}}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-w1" >
								<h2 class="counter font-45 text-white">{{obj1.sec3_inner3_value}}</h2>
								<div class="icon-content">
									<h5 class="tilte text-white fw5">{{obj1.sec3_inner3_title}}</h5>
									<p class="m-b0 font-14">{{obj1.sec3_inner3_desc|safe}}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-w1" >
								<h2 class="counter font-45 text-white">{{obj1.sec3_inner4_value}}</h2>
								<div class="icon-content">
									<h5 class="tilte text-white fw5">{{obj1.sec3_inner4_title}}</h5>
									<p class="m-b0 font-14">{{obj1.sec3_inner4_desc|safe}}</p>
								</div>
							</div>
						</div>
					</div>
                </div>	
			</div>
			<div class="section-full content-inner" style="background-image:url({% static 'images/background/bg3.png' %});background-position: right bottom;background-repeat: no-repeat;">
                <div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-12 m-b30 wow fadeInLeft" data-wow-delay="0.5s">
							<h3 class="fw7">{{obj1.sec4_heading}}</h3>
							<div class="separator bg-primary"></div>
							<h5 class="text-black fw3 m-b30">{{obj1.sec4_title}}</h5>
							<a href="#" class="site-button button-md outline outline-2">Get In Touch</a>
						</div>
						<div class="col-lg-1 col-md-1"></div>
						<div class="col-lg-7 col-md-12">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="icon-bx-1 p-a20 box-services m-b30 wow fadeInUp" data-wow-delay="0.2s">
										<div class="icon-md  m-b20"> <a href="#" class="icon-cell"><i class="flaticon-value"></i></a> </div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec4_inner1_title}}</h5>
											<p class="m-b0">{{obj1.sec4_inner1_desc|safe}}</p>
										</div>
									</div>
								</div>			
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="icon-bx-1 p-a20 box-services m-b30 wow fadeInUp" data-wow-delay="0.2s">
										<div class="icon-md  m-b20"> <a href="#" class="icon-cell"><i class="flaticon-value"></i></a> </div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec4_inner2_title}}</h5>
											<p class="m-b0">{{obj1.sec4_inner2_desc|safe}}</p>
										</div>
									</div>
								</div>			
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="icon-bx-1 p-a20 box-services m-b30 wow fadeInUp" data-wow-delay="0.2s">
										<div class="icon-md  m-b20"> <a href="#" class="icon-cell"><i class="flaticon-value"></i></a> </div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec4_inner3_title}}</h5>
											<p class="m-b0">{{obj1.sec4_inner3_desc|safe}}</p>
										</div>
									</div>
								</div>			
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="icon-bx-1 p-a20 box-services m-b30 wow fadeInUp" data-wow-delay="0.2s">
										<div class="icon-md  m-b20"> <a href="#" class="icon-cell"><i class="flaticon-value"></i></a> </div>
										<div class="icon-content">
											<h5 class="tilte">{{obj1.sec4_inner4_title}}</h5>
											<p class="m-b0">{{obj1.sec4_inner4_desc|safe}}</p>
										</div>
									</div>
								</div>			
							</div>	
						</div>	
					</div>
                </div>
			</div>
			<div class="section-full content-inner-2 bg-gray" style="background-image:url({{obj1.sec5_bg_image.url}}); background-size:cover">
                <div class="container">
					<div class="row">
						<div class="col-md-12 text-center section-head">
							<h2 class="fw7 m-b0">
								{{obj1.sec5_heading}}
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="testimonial-one owl-dots-black-full owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3">
								{% for obj2 in objects2 %}
								<div class="item">
									<div class="testimonial-3">
										<div class="testimonial-pic radius"><img src="{{obj2.sec5_inner_image.url}}" width="100" height="100" alt=""></div>
										<div class="testimonial-text">
											<p>{{obj2.sec5_inner_desc|safe}}</p>
										</div>
										<div class="testimonial-detail"> <strong class="testimonial-name">{{obj2.sec5_inner_name}}</strong> <span class="testimonial-position">{{obj2.sec5_inner_profession}}</span> </div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- contact area END -->
	</div>
	{% endif %}
	{% endfor %}
    <!-- Content END-->
	<!-- Footer -->
<!-- </div> -->
{% endblock 'content' %}


	
<!-- footer bottom part -->
	
	
	
<!-- Footer END
    

